@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  /*Colors*/
  /* Main */
  --main-color: #002A42;
  --main-white: #F3F4F6;
  --main-black: #111111;
  --main-grey: #DDDDDD;
  /* Second */
  --second-color: #95B8D1;
  --second-80:#AAC6DA;
  --second-60:#BFD4E3;
  --second-40: #D5E3ED;
  /* Third */
  --third-color: #C0E9FF;
  --third-80: #CDEDFF;
  --third-60: #D9F2FF;
  --third-40: #EBF8FF;
  /* Fourth */
  --fourth-color: #B5E2FA;
  --fourth-80: #C4E8FB;
  --fourth-60: #D3EEFC;
  --fourth-40:#E1F3FD;
  /*Fonts*/
  /* Montserrat */
  --main-font: "Montserrat", sans-serif;
  /*Poppins*/
  --secondary-font: "Poppins", sans-serif;
  /*Global Typo*/
}
:root * {
  color: var(--main-black);
  box-sizing: border-box;
}

/* Global clay style */
.clay.main-button {
  box-shadow: inset -5px -6px 12px rgba(0, 0, 0, 0.25), inset 4px 4px 10px rgba(255, 255, 255, 0.41);
  filter: drop-shadow(2px 4px 11px rgba(0, 0, 0, 0.15));
}
.clay.light-zone {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}
.clay.goback-button {
  box-shadow: inset -1px -1px 4px rgba(58, 125, 173, 0.2), inset 2px 2px 6px rgba(255, 255, 255, 0.4);
}/*# sourceMappingURL=global.css.map */